/* :root {
    font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
} */

.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.cart p {
    font-size: 18px;
}

.cart-snacks {
    display: inline-flex;
    flex-direction: column;
}

.cart-snack {
    padding-bottom: 50px;
    margin-top: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.snack-display {
    display: flex;
    flex-direction: row;
}

.snack-display img {
    width: 300px;
    height: 300px;
    padding-right: 50px;
}

.checkout-form-area {
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    margin-top: 80px;
}

.checkout-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-top: 20px;
    width: 300px;
    margin-bottom: 100px;
}

.fa-brands {
    font-size: 30px;
    padding-left: 8px;
}

#cards,
#paypal,
#applepay {
    margin-right: -120px;
}

.checkout-form button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.checkout-form button:hover,
.checkout-form button:focus {
    opacity: .75;
}

.remove-cart-button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    margin-top: 10px;
    transition: box-shadow 0.3s;
}

.remove-cart-button:hover {
    box-shadow: 0 0 5px 5px rgb(226, 226, 226);
}

.cart h2 {
    font-weight: 400;
    color: #222;
}

.cart-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

input[type='radio'] {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: -20px;
    accent-color: black;
    outline: 0;
}

.empty-cart-container{
    display: flex;
    justify-content: center;
    height: auto;

}

.empty-msg {
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.empty-msg h1 {
    font-weight: 100;
    margin-bottom: 20px;
}

.empty-add {
    background-color: black;
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    margin-top: 30px;
}

.empty-add:hover {
    box-shadow: 2px 2px 8px #888888;
    background-color: rgb(34, 34, 34);
    color: white;
}

#how_pay {
    margin-bottom: 20px;
}
