.single-snack-container {
    /* border: 1px solid red; */
    /* position: relative; */
    max-width: 80rem;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction:column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-left: 3rem;
}
 .img-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.single-img {
    /* border: 1px solid blue; */
    width: 30rem;
    height: auto;
    border-radius: 2%;
    object-fit: cover;
}
.snack-info-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin-left: 50px;
    justify-content: space-evenly;

}
.single-title{
    font-size: 30px;
}

.single-cat {
    display: none;
}
.single-price {
    font-size: 27px;
}

.addToCartbtn {
    max-width: 50rem;
    min-width: 15rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    border: none;
    border-radius: 10rem;
    background-color: #222;
    color: white;

}
.addToCartbtn:hover {
    box-shadow: 2px  2px 8px #888888;
    background-color: rgb(32, 32, 32);
}
.already-in-cart {
    font-size: 24px;
}
.edit-delete-div {
    /* border: 1px solid red; */
    margin-top: 1rem;
}
.edit-single-snack-btn {
    margin-right: 1.5rem;
    height: 2rem;
    width: 7rem;
    background-color: black;
    color: white;
    border-radius: 10rem;
    border: none;
}

.edit-single-snack-btn:hover {
    box-shadow: 2px  2px 8px #888888;
    background-color: rgb(32, 32, 32);
}
.delete-single-snack-btn {
    height: 2rem;
    width: 7rem;
    background-color: black;
    color: white;
    border-radius: 10rem;
    border: none;
}

.delete-single-snack-btn:hover {
    box-shadow: 2px  2px 8px #888888;
    background-color: rgb(32, 32, 32);
}

.sign-in-to-addCart {
    max-width: 50rem;
    min-width: 15rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    border: none;
    border-radius: 10rem;
    background-color: black;
    color: white;
}

.sign-in-to-addCart:hover {
    box-shadow: 2px  2px 8px #888888;
    background-color: rgb(32, 32, 32);
}
