*{
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.footer{
  margin-top: 150px;
  background-color: #93b7f0;
  position: absolute;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

#footer-header{
  margin-top: 0;
  font-size: 25px;
  color: #222;
}

.footer-content{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 20px;
}

.footer-developer > p{
  margin-top: 0;
}

#dev-links{
  margin-right: 10px;
}

#anchor-links{
  color: #222;
  transition: .3s;
  padding: 0;
}

#anchor-links:hover{
  color: rgb(100, 100, 100);
  transition: .3s;
}

#dev-img{
  border-radius: 50px;
  width: 60px;
}
