.container {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#background-color{
  padding: 30px 0px 80px 0px;
  background-color:  #fde7db ;
  margin: 0;
  transition: .5s;
}

.snacks-home-container {
  margin: 80px 20px 50px 20px;
  display: flex;
  flex-direction: column;
}

.snack-container-header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 80px 40px 0;
  text-decoration: none;
}

#snackcard-header{
  font-size: 20px;
}

.snackcard-link:hover{
  opacity: 55%;
}


#allsnacks-link{
  text-decoration: none;
  border-bottom: 1px  solid rgb(75, 74, 74);
  color: rgb(75, 74, 74);
}



.home-page-title{
  text-align: center;
  margin-top: -15px;
  font-size: 32px;
  transition: .5s;
}

#snack-image {
  width: 200px;
  height: 200px;
}


.snack-card{
  border: 1px solid lightgray;
  border-radius: 30px;
  transition: 1s;
  width: 200px;
  height: 200px;
  margin: 10px 10px;
}


.home-page-snack-card{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page-snack-card > p{
  color: black;
}

#snack-image{
  border-radius: 30px;
}

.snack-card-price{
  display: flex;

}

#snack-price{
  background-color: #9fdda7;
  padding-top: 5px;
  padding-left: 10px;
  width: 80px;
  height: 20px;
  margin-left: 20px;
  margin-top: -50px;
  position: absolute;
  color: black;
  border-radius: 50px;
}

.snack-card:hover{
  box-shadow: 0 0 6px 6px lightgray;
  transition: .5s;
}

/* CATEGORIES */
.categories-container{
  top: 140px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0px;
  z-index: 2;
  transition: .5s;
}

.category-link {
  text-decoration: none;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;

}

.category-list{
  list-style: none;
  text-align: center;
  margin: 0 20px;
  text-decoration: none;
  transition: .5s;

}


.category-button {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  transition: .5s;
}

#category-bttn-name {
  color: black;
  font-size: 18px;
  transition: .5s;
}

.category-list:hover{
  border-bottom: 1px solid black;
  transform: .5s;
}

.category-link > img:hover{
  box-shadow: 0 0 5px 3px lightgray;
  transform: scale(1.1);
  transition: .5s;
}

/* SNACKSY BIO */

.snacksy-bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 80px 0 0;
  background-color:  #fde7db ;
  padding-bottom: 100px;
  margin-bottom: -150px;
}

.why-snacksy{
  font-size: 30px;
  font-weight: bold;
  opacity: 80%;
}

.bio-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px;
}

.bio-section {
  margin: 0 20px;
}

.bio-header{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 79%;
}

.bio-text{
  margin: 0 70px;
  font-size: 20px;
  text-align: justify;
}


/* MEDIA SCREENS */

@media screen and (max-width: 920px) {
  .bio-content{
    flex-direction: column;
    margin: 0 20px;
  }
  .bio-section{
    margin: 0 10px;
  }

}

@media screen and (max-width: 820px ){
  .categories-container{
    top: 140px;
    transition: .5s;
  }

  .category-button{
    width: 100px;
    height: 100px;
    transition: .5s;
  }

  .category-list{
    margin: 0 8px;
  }

  #background-color{
    padding: 30px 0px 60px 0px;
    transition: .5s;
  }

  #category-bttn-name{
    font-size: 16px;
    transition: .5s;
  }

}



@media screen and (max-width: 621px){
  .home-page-title{
    font-size: 28px;
    transition: .5s;
  }

  .category-button{
    width: 80px;
    height: 80px;
    transition: .5s;
  }

  #category-bttn-name{
    font-size: 14px;
    transition: .5s;
  }
}


@media screen and (max-width: 546px) {
  #background-color{
    padding: 30px 0px 30px 0px;
    transition: .5s;
  }

}


@media screen and (max-width: 510px) {
  .categories-container{
    display: inline-flex;
    overflow: hidden;
    overflow-x: scroll;
  }

  #background-color{
    padding: 30px 0px 30px 0px;
    transition: .5s;
  }
}


@media screen and (max-width: 297px) {
  .categories-container{
    top: 180px;
    transition: .5s;
  }
}
