#snack-image {
  width: 300px;
  height: 300px;
}

.container {
  margin: 30px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.snack-card{
  border: 1px solid lightgray;
  border-radius: 30px;
  transition: 1s;
  width: 300px;
  height: 400px;
  margin: 0 10px;
}

#snack-image{
  border-radius: 30px;
}


.snack-card:hover{
  box-shadow: 0 0 5px 2px lightgray;
  transition: .5s;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.category-list{
  list-style: none;
  text-align: center;
  margin: 0 20px;
  text-decoration: none;
}


.category-button {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.category-button-candy {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#category-bttn-name {
  color: black;
}
