.search {
    padding-right: 10px;
}
.search-inputs {
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 20px;
    height: 40px;
    justify-content: space-between;
    width: 100%;

}

.search input {
    background-color: white;
    border: 0;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    height: 25px;
    width: 500px;
}

.search input:focus {
    outline: 0;
}

.searchIcon {
    display: flex;
    border-radius: 40%;
    margin-right: 5px;
    margin: 5px 5px 5px 0;
    background-color: white;
    place-items: center;

}
#search-icon {
    border-radius: 50%;
    transition: 0.5s;
}

#search-icon:hover{
    background-color: lightgray;
    border-radius: 50%;
    transition: 1s;
}


#close-button {
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

#close-button:hover{
    background-color: lightgray;
    border-radius: 50%;
    transition: 1s;
}

.snack-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: background-color;
    padding-right: 5px;
    transition: 0.5s;
}

.snack-item:hover {
    background-color: lightgrey;
    transition: 1s;
}

.snack-result {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35);
    overflow:hidden;
    width: 600px;
    position: absolute;
}

#snack-title{
    margin-left: 10px;
}
