.reviews-container{
  margin: 30px 20px 40px 20px;
  border-top: 2px solid lightgray;
  /* border: solid 1px blue; */
  max-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
}

.write-review-btn {
  max-width: 20rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 10rem;
  background-color: #222;
  color: white;
}

.write-review-btn:hover {
  background-color: rgb(32, 32, 32);
  box-shadow: 2px  2px 8px #888888;
}

.cancel-review {
  width: 10rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 10rem;
  background-color: black;
  color: white;
}

.edit-review {
  margin-right: .5rem;
  height: 2rem;
  width: 7rem;
  background-color: #222;
  color: white;
  border-radius: 10rem;
  border: none;
  margin-bottom: 1rem;
}

.edit-review:hover {
  box-shadow: 2px  2px 8px #888888;
  background-color: rgb(32, 32, 32);
}
.delete-review-button {
  margin-right: 1.5rem;
  height: 2rem;
  width: 9rem;
  background-color: black;
  color: white;
  border-radius: 10rem;
  border: none;
  margin-bottom: 1rem;
}
.delete-review-button:hover {
  box-shadow: 2px  2px 8px #888888;
  background-color: rgb(32, 32, 32);
}

.review-container {
  border-top: 2px solid lightgray;
  padding-top: 1rem;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
  font-weight: 200;
}

.review-div {
  font-size: 23px;
}
.review-user-div {
  margin-bottom: 1rem;
  color: #888888;
}

.close_review_btn {
  position: absolute;
  top: 5px;
  right: -40px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.close_review_btn:hover {
  background-color: gray;
  border-radius: 20px;
}
